@import url(/fonts/fonts.css);
/* хедер */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
  padding: 92px 50px 92px 50px;
  height: 293px;
  width: 1100px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  align-items: center;
  list-style-type: circle;
  gap: 30px;
  justify-self: center;
}
.header__links-list-item {
  position: relative;
  text-underline-offset: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.header__links-list-item_no-bullet {
  list-style-type: none;
  display: flex;
}
.header__menu-link_active {
  text-decoration: none;
}
.menu {
  margin-right: 35px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.header__logo-image {
  height: 105px;
}
.header_address {
  line-height: 24px;
  font-size: 18px;
  font-style: inherit;
  justify-self: end;
  padding-right: 37px;
}
.header__link_active {
  text-underline-offset: 4px;
}
.header__link_active_img {
  width: 148;
}

/* главная секция */

/*cover*/
.cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 757px;
  width: 1100px;
}
.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover_title {
  z-index: 2;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 100px;
  margin-top: 163px;
  letter-spacing: 0.3em;
}
.aligned-text_left {
  margin-bottom: 10px;
}
.aligned-text {
  display: block;
  margin-left: 48px;
}
.aligned-text_center {
  display: block;
  margin-right: 45px;
  text-align: center;
}
.aligned-text_right {
  display: block;
  text-align: end;
  margin-right: 20px;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.cover__description {
  display: flex;
  position: relative;
  flex-direction: row;
  text-wrap: nowrap;
  text-transform: uppercase;
  column-gap: 78px;
  color: white;
  z-index: 2;
  align-items: flex-start;
  height: 100px;
  margin-left: 68px;
}
.cover__description-text {
  display: block;
  word-spacing: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 21.5px;
  padding-right: 8px;
  padding-top: 11px;
  margin-left: 10px;
}
.bet-button {
  display: block;
  height: 51px;
  width: 256px;
  font-size: 22px;
  margin-top: -2.5px;
  margin-left: -8px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border-color: white;
}

/* Лоты */
.lots {
  margin: 179px 24px 0 56px;
  height: 692px;
  width: 1052px;
  margin-bottom: 100px;
}

.lots__heading {
  padding-left: 6px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 692px;
  gap: 25px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  background-color: black;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type-book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_image {
  display: flex;
  background-size: 100%;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  margin-top: 26px;
  margin-left: -32px;
}
.overlay_lots {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}
.card_title {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  padding: 50px 40px 0 40px;
}
.card_text {
  position: relative;
  align-items: start;
  text-align: start;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
  align-items: end;
}
.card_text-film {
  padding: 245px 40px 0 40px;
}
.card_text-book {
  padding: 0 40px;
}
.card_text-pic {
  padding: 99px 40px 0 40px;
}
.lots__look-more-link {
  display: flex;
  flex-direction: column;
  position: relative;
  width:192px ;
  margin-top: -71.7px;
  margin-left: 8px;
  text-underline-offset: 4px;
  font-size:20px ;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}
/* aboun */
.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  margin: 180px 24px 0 24px;
  height: 595px;
  width: 1052px;
}
.about__column {
  display: flex;
  background-color: black;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius:50% ;
  margin-left:47px ;
}
.about_text_column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 25px;
  
}
.about__title {
  margin-top: 100px;
  display: block;
  position: relative;
  margin-left: 118px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.about__text {
  display: flex;
  position: relative;
  font-size: 20px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  text-align: start;
  margin-left: 120px;
}
.about_text-first {
  margin-top: 77px;
}
.about__logo-image {
  display: block;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 114px;
  position: relative;
}
.footer__social-icon {
  height: 48px;
  width: 48px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  align-items: center;
  margin: 150px 50px 55px 50px;
  height: 98px;
  width: 1000px;
}
.footer_menu-list-item {
  text-align: center;
  list-style: none;
}
.footer_menu-list {
  margin-bottom: 40px;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 50px;
}
.footer__social-list-item {
  list-style: none;
  
}
.footer_menu-link-No-line {
  text-decoration: none;
}
.footer_menu-link {
  font-size:18px ;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  text-underline-offset: 4px;
}
.footer_address {
  margin-bottom: 8px;
}
